# Ignore arquivos de ambiente
.env
/backend/.env
/frontend/.env
/whatsapp-core/.env

# node_modules
**/node_modules

# arquivos de build temporários
**/dist
**/.turbo
**/.next
**/.vercel

# lockfiles do sistema
.DS_Store
Thumbs.db

# IDEs
.vscode
.idea

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
